* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
}

.container {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2rem;
}
h1 {
    padding: 1rem 0;
    font-family: Impact, sans-serif;
}
